---
title: Gallery
layout: base.njk
permalink: "/gallery/index.html"
---

<h1>Gallery</h1>
<p>Listing of gallery items. Detail pages are under <code>/gallery/</code>.</p>

<ul>
  <li><a href="{{ site.baseUrl }}/gallery/first/">First Gallery Item</a></li>
</ul>
