---
title: Home
layout: base.njk
permalink: "/index.html"
---

<h1>Welcome to {{ site.title }}</h1>
<p>{{ site.description }}</p>

<section>
  <h2>Explore</h2>
  <ul>
    <li><a href="{{ site.baseUrl }}/gallery/">View Gallery</a></li>
  </ul>
</section>
